html,body{
	background: #fff;
}
#header_top {
	width: 100%;
	height: 35px;
	background: #f6f6f6;
}

#header_top_a {
	width: 1600px;
	height: 35px;
	margin: 0 auto;
	background: #f6f6f6;
}

#header_top_a #left {
	width: 370px;
	height: 35px;
	margin-left: 205px;
	float: left;
}

#header_top_a #right {
	width: 590px;
	height: 35px;
	margin-right: 205px;
	float: right;
}

#left .a1 {
	width: 125px;
	height: 35px;
	float: left;
}

#left p {
	float: left;
	line-height: 35px;
	font-size: 12px;
	color: #606060;
}

#left a {
	margin-top: 6px;
}

#left .a1 a {
	display: inline-block;
	width: 54px;
	height: 22px;
	float: left;
	background: url(../img/img2/base.png) 53px -500px;
	color: #fff;
	font-size: 12px;
}

#left .a2 {
	width: 113px;
	height: 35px;
	float: left;
}

#left .a2 a {
	float: left;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/img2/base.png) 0 -898px;
}

#left .a3 {
	width: 60px;
	height: 35px;
	float: left;
	position: relative;
}

#left .a3 a {
	float: left;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/img2/base.png) -2px -649px;
}

#left .a3 .a3_1 img {
	position: absolute;
	left: 0;
	top: 30px;
	display: none;
	z-index: 1;
}

#left .a3:hover .a3_1 img {
	display: block;
}

#left .a4 {
	width: 72px;
	height: 35px;
	float: left;
	position: relative;
}

#left .a4 a {
	float: left;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/img2/base.png) -153px -598px;
}

#left .a4 .a4_1 img {
	position: absolute;
	left: 0;
	top: 30px;
	display: none;
	z-index: 1;
}

#left .a4:hover .a4_1 img {
	display: block;
}

#right ul li {
	float: left;
	line-height: 35px;
	margin-left: 4px;
	font-size: 12px;
}

#right ul li a {
	font-size: 12px;
}

#right ul li input {
	width: 34px;
	height: 23px;
	border: 0;
	background: #33beff;
	border-radius: 3px;
	color: #fff;
	padding-left: 4px;
	cursor: pointer;
}

#right a:hover {
	color: #005aaa;
}


/***************这是水平分割线*****************/

#header_center {
	width: 100%;
	height: 82px;
	background: #fff;
}

#header_center_a {
	width: 1192px;
	height: 82px;
	background: #fff;
	margin: 0 auto;
}

#header_center_a .logo {
	width: 260px;
	height: 82px;
	float: left;
}

#header_center_a .logo h1 {
	margin-left: -1000000px;
}

.logo .a1 {
	display: block;
	width: 137px;
	height: 47px;
	background: url(../img/img2/base.png) 0px 0px;
	margin-top: 22px;
	float: left;
}

.logo .a2 {
	display: block;
	width: 82px;
	height: 38px;
	background: url(../img/img2/slogan.png) -13px -13px;
	float: left;
	margin-top: 30px;
	margin-left: 15px;
}

#header_center_a .sousuo {
	width: 500px;
	height: 82px;
	float: left;
	margin-left: 80px;
}

#header_center_a .sousuo input:nth-child(1) {
	width: 450px;
	height: 25px;
	margin-top: 15px;
	float: left;
}

#header_center_a .sousuo input:nth-child(2) {
	width: 35px;
	height: 31px;
	background: url(../img/img2/base.png) 0 -1100px;
	border: 0;
	float: left;
	margin-top: 15px;
	cursor: pointer;
}

#header_center_a .sousuo ul li {
	float: left;
	margin-right: 5px;
	font-size: 12px;
	font-weight: 900;
	margin-top: 5px;
}

#header_center_a .sousuo ul li a {
	color: #606060;
}

#header_center_a .sousuo ul li a:hover {
	color: #005aaa;
}

#header_center_a .promise {
	width: 255px;
	height: 82px;
	float: right;
}

#header_center_a .promise .a1 {
	display: block;
	width: 37px;
	height: 37px;
	background: url(../img/img2/base.png) center -240px;
	float: left;
}

#header_center_a .promise .a2 {
	display: block;
	width: 37px;
	height: 37px;
	background: url(../img/img2/base.png) center -160px;
	float: left;
}

#header_center_a .promise .a3 {
	display: block;
	width: 37px;
	height: 37px;
	background: url(../img/img2/base.png) center -1400px;
	float: left;
}

#header_center_a .promise .a_promise {
	margin-top: 12px;
	font-size: 12px;
	width: 50px;
	text-align: center;
	margin-left: 30px;
	color: #005aaa;
}


/***************这是水平分割线*****************/

#nav {
	width: 100%;
	height: 40px;
	background: #333333;
}

#nav_a {
	width: 1192px;
	height: 40px;
	background: #333;
	margin: 0 auto;
}

#nav_a .a1 span {
	display: block;
	width: 192px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-weight: 900;
	color: #fff;
	background: #005aa9;
	border-right: 2px solid #333333;
	font-size: 14px;
	cursor: pointer;
}

#nav_a .a1 {
	float: left;
}
#nav_a .a1:hover .spfl{
	display: block;
}
#nav_a .spfl {
	width: 192px;
	height: 425px;
	background: rgba(0, 0, 0, 0.6);
	padding: 13px 0;
	box-sizing: border-box;
	position: absolute;
	z-index: 2;
	display: none;
}

.spfl ul li {
	width: 192px;
	height: 36px;
}

.spfl ul li a {
	color: #fff;
	display: block;
	font-size: 12px;
	line-height: 36px;
	box-sizing: border-box;
	padding-left: 12px;
}

.spfl ul li a i {
	float: right;
	font-size: 12px;
	padding-right: 12px;
	color: #ccc;
}

.spfl ul li a:hover {
	background: #fff;
	color: #000;
}

#nav_a .list {
	float: left;
}

#nav_a .list li {
	float: left;
	text-align: center;
	line-height: 40px;
	width: 89px;
	border-right: 1px solid #555555;
	position: relative;
}

#nav_a .list li a {
	display: block;
	color: #fff;
	font-size: 16px;
}

#nav_a .list li a:hover {
	background: #005aa9;
}

#nav_a .gwc {
	width: 154px;
	height: 40px;
	float: right;
	cursor: pointer;
	position: relative;
	background: #626262;
}

#nav_a .gwc #a {
	display: block;
	width: 154px;
	height: 40px;
	font-size: 12px;
	color: #fff;
	position: absolute;
	left: 18px;
	top: 12px;
	background: url(../img/img2/base.png) -1px -351px;
}

#nav_a .gwc #a span {
	display: block;
	margin-left: 22px;
	line-height: 20px;
	width: 55px;
}

#nav_a .gwl {
	width: 340px;
	height: 40px;
	background: #fff;
	position: absolute;
	left: -186px;
	bottom: -40px;
	display: none;
	z-index: 1;
}

#nav_a .gwl p {
	text-align: center;
	line-height: 40px;
}

#nav_a .gwc:hover #a {
	
	background: url(../img/img2/base.png) 0px -450px;
	color: #005AA9;
}

#nav_a .span_span_a{
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	top: 5px;
	left: 70px;
	background: url(../img/img2/vip.gif)no-repeat;
}
/*****************************************/
#div_mini{
	/*display: none;*/
    position: absolute;
    width: 340px;
    right: 0px;
    top: 40px;
    background: #f6f6f6;
    box-shadow: 1px 1px 6px #ccc;
    -webkit-box-shadow: 1px 1px 6px #ccc;
    -moz-box-shadow: 1px 1px 6px #ccc;
    z-index: 1;
    font-family: "微软雅黑";
}
#div_mini .li_mini_gwc1{
	background: #fff;
	padding: 12px;
	border-top: 1px solid #eee;
	padding-bottom: 10px;
	line-height: 1.5em;
	overflow: hidden;
}

.li_mini_gwc1 img{
 	width: 62px;
 	height: 62px;
 	border: 1px solid #ddd;
 }
.li_mini_gwc1 .mini_a1{
	float: left;
}
.li_mini_gwc1 .mini_a2{
	float: left;
	width: 155px;
	height: 48px;
	margin: 0 10px;
	display: inline-block;
}
.li_mini_gwc1 .mini_span1{
	width: 76px;
	height: 24px;
	float: right;
    color: #005aa9;
    text-align: right;
}
.mini_em1{
	font-size: 14px;
	font-weight:800;
	padding: 0 2px;
}
.mini_em2{
	color: #606060;
}
.mini_span2{
	float: right;
    color: #999;
    text-align: right;
}
.li_mini_gwc2{
	background: #f5f5f5;
	overflow: hidden;
    zoom: 1;
    padding: 12px;
    border-top: 1px solid #eee;
    padding-bottom: 10px;
    line-height: 1.5em;
}
.li_mini_gwc2 .mini_p1{
	line-height: 1.8em;
	text-align: right;
}
.li_mini_gwc2 .s_mini_span{
	margin-left: 10px;
}
.li_mini_gwc2 .s_em {
	font-weight: bold;
    color: #005aa9;
    font-size: 1.18em;
}
.li_mini_gwc2 .mini_js{
	display: inline-block;
    width: 90px;
    height: 32px;
    line-height: 32px;
    margin: 8px 0 0;
    text-align: center;
    font-size: 1.34em;
    background: #005aa9;
    color: #fff;
}
/***************这是水平分割线*****************/
#gwc_msp{
	overflow: hidden;
    width: 100%;
    background-color: #FFF;
}
#gwc_msp_div{
	width: 1192px;
    margin: 0 auto;
    clear: both;
    padding: 40px 0 20px;
}
.div_msp{
	/*background-position: 220px -570px;*/
    line-height: 2em;
    margin: 0 0 40px;
    padding: 10px 0 10px 330px;
    width: 400px;
}
.div_msp a{
	color: #0059AA;
}	
.div_msp_p{
	font-size: 1.18em;
    font-weight: 700;
    padding: 0 0 10px;
}

/***************这是水平分割线*****************/
#div_gwc{
	width: 100%;
}
#gwc_logo{
	width: 1192px;
	height: 95px;
	margin: 0 auto;
}
#gwc_logo .div_logo{
	width: 224px;
	height: 95px;
	float: left;
}
#gwc_logo .logo a{
	display: inline-block;
	width: 155px;
	float: left;
	height: 95px;
	background: url(../img/img2/base.png) 10px 24px;
}
.gwc_span{
	/*display: inline-block;*/
	font-size: 20px;
	font-family: "微软雅黑";
	/*float: left;*/
	line-height: 95px;
}
.div_process{
	width: 682px;
	height: 95px;
	float: right;
}
#w_gwc{
	float: left;
	width: 200px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #23519e;
	margin: 32px 0;
	text-align: center;
}
.l_img,.r_img{
	display: inline-block;
	width: 20px;
	height: 30px;
	margin: 32px 0;
	background: url(../img/img2/cartsp.png);
	float: left;
}
.l_img{
	background-position: 0px -368px;
}
.r_img{
	background-position: 0px -403px;
	
}
#order{
	float: left;
	width: 184px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #a7b0b5;
	margin: 32px 0;
	text-align: center;
}
#success_order{
	float: left;
	width: 200px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #a7b0b5;;
	margin: 32px 0;
	text-align: center;
}
#logo_up{
	width: 1190px;
	height: 48px;
	line-height: 50px;
	margin: 0 auto;
	margin-bottom: 31px;
	border: 1px solid #24bdff;
}
#logo_up .logo_up_1{
	width: 447px;
    height: 50px;
    float: left;
}
#logo_up .logo_up_1 .s_span_dl1{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #606060;
	margin-left: 30px;
}
.s_span_dl2{
	color: #ffffff;
    cursor: pointer;
    margin: 13px 0px 13px 11px;
    border-radius: 5px;
    background: #005aa9;
    padding: 4px 12px 5px;
}
.logo_up_2{
	float: right;
}
.s_span_dl3{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #606060;
	margin-left: 30px;
	float: left;
	margin-right: 10px;
}
.s_div_ps{
	height: 23px;
    line-height: 23px;
    border: 1px solid #ccc;
    float: left;
    padding: 0px 26px 0px 11px;
    border-radius: 2px;
    margin: 12px 20px 12px 0px;
    font-size: 12px;
    color: #606060;
}
#gwc_form{
	width: 1190px;
	margin: 0 auto;
	border: 1px solid #e2e2e2;
}
.gwc_form{
	width: 1190px;	
}
.form_a1{
	width: 1190px;
	height: 40px;
	line-height: 40px;
	background: #f5f5f5;
	color: #909090;
	text-align: right;
}
.form_a1 li{
	float: left;
}
.li_clsaa{
	width: 100px;
}
.li_clsaa_2{
	width: 120px;
}
.li_clsaa_3{
	width: 240px;
}
.li_clsaa_4{
	width: 100px;
}
.li_clsaa_5{
	width: 100px;
}
.li_clsaa_6{
	width: 130px;
}
.li_clsaa_7{
	width: 120px;
}
.li_clsaa_8{
	width: 100px;
}
/**/
.form_a2{
	padding: 20px 0 0 52px;
	height: 99px;
	border-top: 1px solid #e2e2e2;
	background-color: rgb(234, 249, 255);
}
.div_a1{
	float: left;
}
.div_a2{
	width: 270px;
	height: 88px;
	float: left;
	padding-left: 24px;
}
.div_a2_li{
	width: 78px;
	height: 78px;
	float: left;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}
.div_a2_li a img{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.div_a2_a{
	margin-left: 10px;
	color: #555;
	margin-top: 5px;
	width: 175px;
	height: 31px;
	
}
.div_a3{
	float: left;
	text-align: center;
	line-height: 25px;
	width: 108px;
}
.div_a4{
	float: left;
	text-align: center;
	width: 108px;
	color: #555;
	font-weight: 600;
	margin-bottom: 5px;
}
.div_a4_i{
	color: #555;
    margin-top: 5px;
    padding-left: 10px;
    text-align: center;
    font-family: "arial, helvetica, sans-serif";
}
.span_jian,.span_jia{
	width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    cursor: pointer;
    color: #a2a2a2;
    display: inline-block;
    background: #fef9f5;
    border: 1px #ffe0c6 solid;
}
.div_a5{
	width: 86px;
	float: left;
	margin-left:20px ;
}
.div_a5_div{
	width: 86px;
	/*margin-left:20px ;*/
	text-align: center;
	height: 23px;
	line-height: 23px;
	color: #d71249;
	background: #fff9f4;
	padding-top: 21px;
}
.div_a5_txt{
	width: 42px;
	height: 18px;
	line-height: 20px;
	float: left;
	color: #555;
	border: 0;
	text-align: center;
    border-top: 1px solid #ffe0c6;
    border-bottom:1px solid #ffe0c6 ;
}
.div_a6{
	width: 108px;
	float: left;
	margin-left: 15px;
}
.div_a6_i{
	color: #d71249;
    margin-top: 5px;
    padding-left: 10px;
    text-align: center;
    font-family: "arial, helvetica, sans-serif";
}
.div_a7{
	float: left;
	width: 108px;
	margin-left: 10px;
}
.div_a7_i{
	color: #d71249;
	margin-top: 5px;
    text-align: center;
    font-family: "arial, helvetica, sans-serif";
}
.div_a8{
	width: 60px;
	float: left;
	margin-left: 55px;
}
.div_a8_1{
	margin: 5px 0;
	font-size: 12px;
	cursor: pointer;
}
.div_a8_2{
	font-size:12px ;
	cursor: pointer;
}
.form_a3{
	height: 39px;
	padding-right: 20px;
    background: #f5f5f5;
    border-bottom: 1px solid #e2e2e2;
}
.div_all{
	height: 40px;
	line-height: 40px;
	float: right;
}
.div_all a:hover{
	color: #d71249;
}
.div_all_1{
	color: #d71249;
	font-size: 12px;
	font-family: "arial, helvetica, sans-serif";
}
.gwc_div{
	width: 1192px;
	height: 57px;
	margin: 6px auto;
}
.gwc_div .gwc_fq{
	display: inline-block;
	width: 100%;
	float: right;
	height: 25px;
	line-height: 25px;
	padding-right: 10px;
}
.fq_span_1,.fq_span_2{
	display: inline-block;
	font-size: 12px;
	float: right;
}
.fq_span_2 p{
	display: inline-block;
	color: #d71249;
}
.gwc_hb{
     float: right;	
     height: 25px;
     line-height: 25px;
	padding-right: 10px;
}
.hb_span{
	font-size: 12px;
}
#balance{
	width: 1192px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	color: #909090;
    background: #f5f5f5;
}
.balance_1{
	float: left;
}
.balance_1 span{
	font-size: 12px;
}
.div_z1{
	display:inline-block;
	width: 75px;
	margin-left: 20px;
}
.div_z2{
	display: inline-block;
	margin-right: 35px;
	cursor: pointer;
}
.div_z3{
	display: inline-block;
	cursor: pointer;
}
.balance_2{
	height: 50px;
	float: right;
	font-size: 12px;
}
.js_1{
	color: #d71249;
	font-size: 16px;
    font-family: verdana !important;
    font-weight: 700;
}
.js{
	display: inline-block;
	width: 134px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	background: #d71249;
	text-align: center;
	margin-left: 10px;
	font-weight: bold;
}
.js_1:hover{
	color: #d71249;
}
.js:hover{
	color: #fff;
}
/***************这是水平分割线*****************/
#footer_top{
	width: 1192px;
	height: 65px;
	margin: 15px auto 0;
	/*zoom: 1;*/
	clear: both;
	padding-top:20px ;

}
#footer_top .footer_div{
	float: left;
	padding: 15px 0 0 9px;
	/*line-height: 63px;*/
}
.footer_div .div_h3{
	font-size:12px;
	font-weight: bold;
	font-family: "微软雅黑";
	margin-left: 6px;
}
.footer_div .div_p{
	font-size: 12px;
	margin-left: 6px;
}
#footer_top .footer_p{
	float: right;
	width: 134px;
	height: 50px;
	border-left: 1px solid #ddd;
	padding-left:25px ;
	margin: 15px 0 0;
}
#footer_top .a1{
	display: block;
	background: url(../img/img2/base.png) 24px -773px;
	
}
#footer_top .a1 .p_a1{
	display: block;
	margin: 25px 50px 0 0;
	padding-left: 25px;
}
#footer_top .a2{
	display:block;
	background: url(../img/img2/base.png) 18px -670px;
}
#footer_top .a2 .p_b1{
	display: block;
	margin: 25px 50px 0 0;
	padding-left: 25px;
}
/***************这是水平分割线*****************/
#footer_nav{
	width: 1192px;
	height: 107px;
	margin: 15px auto 0;
	border-top: 1px solid #ddd;
}
#footer_nav_a{
	width: 1192px;
	height: 91px;
	padding-top: 15px;
}
#footer_nav_a .footer_dl{
	float: left;
	width: 18%;
	padding-left: 20px;
}
.footer_dl .dl_dt{
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: 400;
}
.footer_dl dd{
	float: left;
	font-size: 12px;
	width: 103px;
	height: 22px;
}
#footer_nav_a .a1{
	border-left: 1px solid #ddd;
}
/***************这是水平分割线*****************/
#footer_nav_z{
	width: 1192px;
	height: 90px;
	margin: 20px auto 15px;
}
#footer_nav_z .ul_li{
	display:block;
    height: 90px;
    background: #fff;
    float: left;
    margin-left:5px;
}
#footer_nav_z .ul_li:nth-child(1){
	margin-left: 0;
}
#footer_nav_z .ul_li img{
	display: block;
	margin: 7px 8px 0 9px;
	float: left;
}
#footer_nav_z .ul_li a{
	display: block;
    /*float: left;*/
    padding-top: 30px;
    font-size: 12px;
}
#footer_nav_z .ul_li a span{
	/*display: block;*/
	font-family: "微软雅黑";
	font-weight: bold;
}
#footer_nav_z .a1{
	width:28%;
}
#footer_nav_z .a2{
	width: 25%;
}
#footer_nav_z .a3{
	width: 22%;
}
#footer_nav_z .a4{
	width: 23%;
}
/***************这是水平分割线*****************/
#footer{
	width: 100%;
	height: 130px;
	background: #E1E1E1;
	padding: 20px 0 10px;
}
#footer_footer{
	width: 1192px;
	margin: 0 auto;
}
#footer_footer p{
    font-size: 12px;
    text-align: center;
}
#footer_footer img{
	height: 40px;
	padding-top: 10px;
}
/***************这是水平分割线*****************/
#nav_right{
	position: fixed;
	right: 5px;
	bottom: 60px;
	width: 60px;
	height: 272px;
}
#nav_right .span_1{
	display: block;
	width: 60px;
	height: 127px;
	background: url(../img/img2/ballon.png) no-repeat;
	cursor: pointer;
}
#nav_right .img_span{
	width: 150px;
	height: 184px;
	position:absolute ;
	left: -150px;
	top: -60px;
	display: none;
}
#nav_right .span_1:hover .img_span{
	display: block;
}
#nav_right .a_1{
	display: block;
	width: 60px;
	height: 64px;
	background: url(../img/img2/base.png) 61px -1250px;
}
#nav_right .a_2{
	display: block;
	width: 60px;
	height: 64px;
	background: url(../img/img2/base.png) 61px -1504px;
}
#nav_right .a_3{
	display: block;
	width: 60px;
	height: 64px;
	background: #c1c1c1;
	opacity: 0.7;
	text-align: center;
	cursor: pointer;
}
#nav_right .a_3:hover{
	background: #005aa9;
}
#nav_right .a_3 i{
	font-size: 38px;
	color: #fff;
	line-height: 64px;
}
